.login-page, .register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page h2,
.register-page h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #444;
}

.login-page .input-group,
.register-page .input-group {
  margin-bottom: 5px;
}

.login-page .input-group label,
.register-page .input-group label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: #fff;
  text-align: left;
}

.login-page .input-group input,
.register-page .input-group input {
  padding: 12px;
  font-size: 1rem;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f9f9f9;
  transition: all 0.3s;
}

.login-page .input-group input::placeholder,
.register-page .input-group input::placeholder {
  text-align: left;
  transition: opacity 0.2s ease;
}

.login-page .input-group input:focus::placeholder,
.register-page .input-group input:focus::placeholder {
  opacity: 0;
}

.login-page .input-group input:focus,
.register-page .input-group input:focus {
  border-color: #646cff;
  background-color: #fff;
  outline: none;
}

.login-page button,
.register-page button {
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-page button:hover,
.register-page button:hover {
  background-color: #535bf2;
}

.register-btn {
  background-color: #e0e0e0;
  color: #333;
  border-radius: 6px;
  padding: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
  border: none;
  margin-top: 10px;
}

.register-btn:hover {
  background-color: #c8c8c8;
}

.login-page p a,
.register-page p a {
  color: #646cff;
  text-decoration: none;
}

.login-page p a:hover,
.register-page p a:hover {
  text-decoration: underline;
}

.login-page p,
.register-page p {
  font-size: 0.9rem;
  color: #777;
  margin-top: 20px;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.login-form .input-group,
.register-form .input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 225px;
}

.logo-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  .login-page .container,
  .register-page .container {
    padding: 15px;
  }

  .login-page h2,
  .register-page h2 {
    font-size: 1.8rem;
  }

  .login-page button,
  .register-page button {
    font-size: 1rem;
    padding: 10px;
  }
}
